<#@ template language="C#" #>
<#@ import namespace="Olf.MvvmGenerator.Foundation.Models" #>

<#    foreach(string u in csFileInfo.Usings)
    {
        WriteLine("using " + u + ";");
    }
#>

namespace <#    WriteLine(csFileInfo.Namespace); #>
{
    public interface <#    WriteLine(csFileInfo.ObjectDeclaration); #>
    {
        IViewWithDataContext Create();
    }
}