<#@ template language="C#" #>
<#@ import namespace="Olf.MvvmGenerator.Foundation.Models" #>
using System.Windows.Controls;
<# foreach(string u in csFileInfo.Usings)
    {
        WriteLine("using " + u + ";");
    }
#>

namespace <# WriteLine(csFileInfo.Namespace); #>
{
    public partial class <# Write(csFileInfo.ObjectDeclaration); #> : UserControl
    {
        public <# Write(csFileInfo.ObjectDeclaration); #>()
        {
            InitializeComponent();
        }
    }
}